streamlit==1.33.0
chromadb==0.4.24
#PyPDF2==3.0.1
#pypdf==4.1.0
#openai==1.13.3
#requests==2.31.0
#altair==4.2.2
langchain==0.1.14
#langchain-openai==0.1.1
Pillow==9.0.1
#tiktoken==0.4.0
#beautifulsoup4==4.10.0
#protobuf==3.20
sentence-transformers==2.6.1
#langchain-community==0.0.31
langchain-google-genai==1.0.1
watchdog==4.0.0
